$h1-font: "Poppins", sans-serif;
$h1-size: 4.5rem;
$h1-weight: 900;
$h2-font: "Poppins", sans-serif;
$h2-size: 3rem;
$h2-weight: 700;
$p-font: "Montserrat", sans-serif;
$p-size: 1rem;
$p-weight: 400;
$bs-primary: #058283;
$bs-secondary: #21333e;
$greytext: #C0C3D0;
