$h1-font: "Poppins", sans-serif;
$h1-size: 4.5rem;
$h1-weight: 900;
$h2-font: "Poppins", sans-serif;
$h2-size: 3rem;
$h2-weight: 700;
$p-font: "Montserrat", sans-serif;
$p-size: 1.2rem;
$p-weight: 400;
$bs-primary: #058283;
$bs-secondary: #21333e;
$greytext: #C0C3D0;
$body-font-family: "Poppins", sans-serif;


p{
  font-family: $p-font;
  font-size: $p-size;
  font-weight: $p-weight;
  color: grey;
  margin-bottom: 0;
  margin-top: 0;
}

.btn{
  padding: 0.60rem 1.5rem;
}

.btn-primary {
  color: #fff;
  background-color: $bs-primary;
  border-color: $bs-primary;
}

.btn-outline-primary {
  border-color: $bs-primary;
  color: $bs-primary;
}

.marked{
  color: $bs-primary;
  background-color: rgba($color: #058283, $alpha: .15);
  border-radius: 5px;
  font-family: Poppins;
}


h1,h2{
  font-family: Poppins;
  font-weight: 900;
}

h6{
  font-family: Poppins;
  font-weight: 700;
  font-size: 1rem;
  color: #00A6A6;
}

button{
  white-space: nowrap;
}

i{
  color: $bs-primary;
}